@model IEnumerable<IEP___projekat_AS.Models.Order>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Token Orders";
}

<br />
<h3>All token orders.</h3>
<h5>This is the history of all the orders you had.</h5>

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-10">
        @{int i = 1;}
        @foreach (var order in Model)
        {
            @Html.Label("Purchase number ");<span> @i:</span> <br />

            @Html.Label("Number of tokens:");
            @Html.DisplayFor(m => order.number_of_tokens); <br />

            @Html.Label("Price:");
            @Html.DisplayFor(m => order.price); <br />

            @Html.Label("Status:");
            @Html.DisplayFor(m => order.status); <br />

            @Html.Label("Package:");
            @Html.DisplayFor(m => order.package); <br />

            @Html.Label("Date and time:");
            @Html.DisplayFor(m => order.date); <br /><br />

            i++;
        }


    </div>

    <div class="col-md-2"></div>

</div>