@using IEP___projekat_AS.Models
@model BuyTokensViewModel

@{
    Layout = "~/Views/Shared/_LayoutCentili.cshtml";
    ViewBag.Title = "Buy Tokens";
}

<br />
<h3>Buy tokens via Mobile</h3>
<h5>Create your order. Then wait to be redirected on payment platform to finish order.</h5>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        @using (Html.BeginForm("BuyTokens", "Manage", FormMethod.Get))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PackageType, "Package:")
                @Html.DropDownListFor(model => model.PackageType,
                 new List<SelectListItem>
                 {
                    new SelectListItem { Text="Standard (1 token)", Value="1" },
                    new SelectListItem { Text="Gold (5 tokens)", Value="5" },
                    new SelectListItem { Text="Platinum (10 tokens)", Value="10" },

                 }, null, new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, "PhoneNumber(06x xxxx xxx):")
                @Html.EditorFor(model => model.PhoneNumber,
                    new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "Your must provide a PhoneNumber",
                    new { @class = "myvalidation" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" />
            </div>
        }
        @*<p>Uputstvo: Kliknite na ikonicu dole i pratite uputstva!</p>*@
        <br />
        @*<a id="c-mobile-payment-widget"
           href="http://stage.centili.com/widget/WidgetModule?api=870d5e86ef71dfa2c2570699f9fbf172&clientId=@Model.UserID">
            <img src="https://www.centili.com/images/centili-widget-button.png"/>
        </a>*@
    </div>

    <div class="col-md-3"></div>
</div>
