@model IEP___projekat_AS.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">

    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li>
                @Html.ActionLink("Manage your account details", "ChangeDetails")
            </li>
            <li>
                @Html.ActionLink("Change Password", "ChangePassword")
            </li>
            <li>@Html.ActionLink("Buy tokens", "BuyTokens")</li>
            <li>@Html.ActionLink("All token orders", "AllTokenOrders")</li>
            @if (User.IsInRole("Admin"))
            {

                <li>@Html.ActionLink("Open ready auctions", "OpenReadyAuctions")</li>
            }
        </ul>

    </div>

    <div class="col-md-8">
        <br />
        <div class="form-group">
            @Html.Label("Name: ") @Model.Name <br />
        </div>
        <div class="form-group">
            @Html.Label("Surname: ") @Model.Surname<br />
        </div>
        <div class="form-group">
            @Html.Label("Email: ") @Model.Email<br />
        </div>
        <div class="form-group">
            @Html.Label("Token Balance: ") @Model.Credit<br />
        </div>
                </div>

    </div>
